.home{
  background-color: #DCDFE4;
  height: 100%;
}
.home .main-home {
  height: 100%;
  padding-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .main-home .main-body {
  height: 95%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction:row;
}
.home .list-left{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.home .div-status{
  height: 10%;
  width: 100%;
  display: flex;
  background-color: white;
  padding: 10px 30px;
  /* justify-content: center; */
  align-items: center;
}
.home .div-status a{
 margin-left: 10px;
 text-decoration: none
}

.home .div-status a p{
  color: #BEBDBD;
  margin-top: 15px;
 }

.home .main-list-left{
  height: 89%;
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction:column;
  overflow-x:hidden;
  overflow-y:auto;
}
.home .item_left_new{
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
  flex-direction:column;
  padding: 10px;
  text-decoration: none
}
.home .item_left_author{
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction:row;
  align-items: center;
}
.home .item_left_author .name_page{
  color: #373737;
  font-size: 14px;
  font-weight: 450;
  margin-right: 5px;
}

.home .item_left_author .dot_item{
  background-color:#9B9B9B ;
  height: 3px;
  width: 3px;
  border-radius: 10px;
  margin-right: 5px;
}

.home .item_left_author b{
  color: #9B9B9B;
  font-size: 14px;
  font-weight: 450;
  margin-right: 5px;
}

.home .item_left_title{
  height: 45%;
  width: 95%;
  display: flex; 
  align-items: center;
}

.home .item_left_title b{
  color: #000000;
  font-size: 16px;
}

.home .item_left_comment{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.home .item_left_comment b{
  color:#9B9B9B;
  font-size: 14px;
  font-weight: 450;
}

.home .list-right{
  height: 100%;
  width: 29.4%;
  display: flex;
  flex-direction:column;
  background-color:white;
  padding: 10px;
}

.home .header_right_list{
  height: 30px;
  width:100%;
  display: flex;
  border-bottom: 2px solid #000000;
}

.home .header_right_list b{
  font-size: 16px;
  font-weight: 700;
}

.home .main_right_list{
  height: 90%;
  width:100%;
  display: flex;
  overflow-x:hidden;
  overflow-y:auto;
  flex-direction:column;
  margin-top: 10px;
}

.home .item_right_new{
  /* height: 100px; */
  width:100%;
  display: flex;
  flex-direction:row;
  margin-bottom: 5px;
  text-decoration: none
}

.home .item_right_new .dot_item{
  background-color:#9B9B9B ;
  height: 6px;
  width: 6px;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 7px;
}

.home .item_right_new b{
  width: 95%;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}