.quanlybinhluan  {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
}

.quanlybinhluan .home-menu-main {
  width: 20.4%;
  height: 100%;
}
.quanlybinhluan .home-header-main {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-left: 20.4%;
} 

.quanlybinhluan .header_nv{
  display: flex;
  width: 80%;
  height: 60px;
}
.quanlybinhluan .main-home-nv {
  display: flex;
  margin-top: 60px;
  /* height: 1000px; */
  width: 100%;
  padding: 10px;
  flex-direction: column;

}

.quanlybinhluan .main-home-nv .title_chucnang{
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
}

.quanlybinhluan .main-home-nv .title_chucnang p{
  font-size: 26px;
  font-weight: 600;
}

.quanlybinhluan .main-home-nv .line {
  height: 1px;
  background-color: #cccccc;
  width: 1120px;
}  


.quanlybinhluan .main-home-nv .active  {
  width: 1120px;
}

.quanlybinhluan .main-home-nv  .active i,
.quanlybinhluan .main-home-nv  .active span {
color: #296088;
font-weight: 600;
margin-right: 3px;
}
.quanlybinhluan .main-home-nv  i,
.quanlybinhluan .main-home-nv  span {
color: #667580;
font-weight: 600;
margin-right: 3px;
}
.quanlybinhluan .main-home-nv  .tab-content .title-line {
height: 20px;
width: 5px;
background-color: red;
margin-right: 2px;
}
.quanlybinhluan .main-home-nv  .tab-content h5 {
color: #296088;
font-weight: 600;
}
.quanlybinhluan .main-home-nv  .tab-content select {
background-color: #e3fffb;
}
.quanlybinhluan .main-home-nv  .tab-content ::placeholder {
color: rgba(102, 117, 128, 0.3);
}
.quanlybinhluan .main-home-nv  .tab-content label {
color: #667580;
}
.quanlybinhluan .main-home-nv  .tab-content .form-control {
font-style: italic;
color: #667580;
font-weight: 300;
}
.quanlybinhluan .main-home-nv  .tab-content .div-table-list th {
background-color: #f3f7f9;
color: #296088;
}
