<div class='menubaradmin'>
  <nav class='navbar navbar-expand-lg navbar-light'>
    <button
      class='navbar-toggler'
      type='button'
      data-toggle='collapse'
      data-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <div class='dropdown-divider'></div>
      <ul class='navbar-nav flex-column' style='width: 100%;;'>
        <a class='logo_header' href='/admin/home'>
          <img
            src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/logo.png'
            alt='logo_header'
            class='logo-header'
            style='height: 43px; width: 43px;'
          />
          <p
            style='margin:3px 0 0 10px; color:#4B4B4B;font-size: 18px;font-weight: 600;'
          >BabyCare</p>
        </a>
        <div class='dropdown-divider'></div>

        <li class='nav-item'>
          <a
            class='nav-link active'
            data-target='#submenu-2'
            aria-controls='submenu-2'
            href='/admin/home'
          >
            <i class='fa fa-calendar'></i>
            <b>Quản lý bài đăng</b>
          </a>
        </li>

        <li class='nav-item'>
          <a
            class='nav-link active'
            data-target='#submenu-2'
            aria-controls='submenu-2'
            href='/admin/quanlybinhluan'
          >
            <i class='fa fa-tasks'></i>
            <b>Quản lý bình luận</b>
          </a>
        </li>

        <li class='nav-item'>
          <a
            class='nav-link active'
            href='/admin/quanlychuyenvien'
            data-target='#submenu-3'
            aria-controls='submenu-3'
          >
            <i class='fa fa-drivers-license-o'></i>
            <b>Quản lí chuyên viên</b>
          </a>
        </li>

        <li class='nav-item'>
          <a
            class='nav-link active'
            href='/admin/login'
            data-target='#submenu-5'
            aria-controls='submenu5'
          ><i class='fa fa-sign-out' style='color: red;'></i>
            <b style='color: red;'>Đăng xuất</b>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>