<div class="listchatCVTVSK">
    <div>
        {{>header}}
    </div>
    <div class="main-home">
        <div class="main-body">
            <div class="list-left">
                <div class="header_search_list_chat">
                    <a class='nav-link' href=''>
                        <p> <i class='fa fa-navicon'></i></p>
                    </a>

                    <div class='row search-chat'>
                        <form action=''>
                        <input
                            type='text'
                            id='searchHeader'
                            name='searchHeader'
                            placeholder='Tìm kiếm'
                            required=''
                        />
                        <button type='submit'><i
                            class='fa fa-search'
                            aria-hidden='true'
                            ></i></button>
                        </form>
                    </div>

                </div>
                <div class="main_list_chat">
                   {{#each data}}
                        <a class="item_list_chat" href='/cvtvsk/listchat/{{this.userName}}'>
                            <img
                            src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/iconChat.png'
                            alt='ảnh thẻ header'
                            style='height: 40px;width: 40px;border-radius: 30px;'
                            />
                            <p>{{this.userName}}</p>
                        </a>
                    {{/each}}
                     
                </div>
            </div>

            <div class="list-right">
               
            </div>
        </div>

        
    </div>
 </div>


        
        
